# Global ignores
tmp
tmp-*
*.tmp
*~

# Build-system files
Makefile.in
Makefile
/aclocal.m4
/autom4te.cache
/config.h.in*
/config.h
/config.log
/config.status
/configure
/libpaw-*.tar.bz2
/libpaw-*.tar.gz
/libpaw-*.tar.xz
/libtool
/stamp-h1
/config/data/libpaw-config.yml
/config/data/libpaw.pc
/config/gnu
/config/gnu/compile
/config/gnu/config.guess
/config/gnu/config.sub
/config/gnu/depcomp
/config/gnu/install-sh
/config/gnu/ltmain.sh
/config/gnu/missing
/config/m4/libtool.m4
/config/m4/ltoptions.m4
/config/m4/ltsugar.m4
/config/m4/ltversion.m4
/config/m4/lt~obsolete.m4

# Built files
/src/.deps
/src/.libs
/src/*.a
/src/*.c~
/src/*.h~
/src/*.o
/src/*.lo
/src/*.la
/src/*.so
/src/*.so.*
