config.h.in~
.gitignore~
.DS_Store
.deps
.directory
.tox
.idea
.*.sw[op]
__pycache__
*.egg
*.egg-info
Makefile.am
Makefile.in
Makefile
TAGS
abinit.dep
abinit.dir
build_g95
build_gfortran
build_ifort
config.optim
logfile
make.log
make_log_bader
make_log_cut3d
mpif.h
package-ready
robodoc.err
robodoc.log
tags
testf.ac
abiref.ac
rafael.ac
tmp
tmp2
auto-*.m4
interfaces_*.F90
*.srcc
tmp-*
tmp_*
ui_*.py
math.so
positions.so
topology.so
*-stamp
*.abiauty
*.abirules
*.fdb_latexmk
*.synctex.gz
*.fls
*.la
*.lo
*.mod
*.orig
*.rej
*.tmp
*.pyc
*.[ao]
*.stderr
*.stdout
buildbot.ac
tests/TestBot_MPI*/*
/.abilint
/abilint.log
/abilint.out
/aclocal.m4
/autom4te.cache
/build
/_build*
/configure
/config.dump
/config.dump.in
/config.h
/config.h.in
/config.log
/config.mk
/config.pc
/config.sh
/config.status
/config/split
/directories.dot
/dump_fb_version.py
/stamp-h1
/abinit-*.tar.gz
/confstat.*
/robodoc-html*
/bindings/abinit-bindings-*.tar.gz
/bindings/aclocal.m4
/bindings/autom4te.cache
/bindings/configure
/bindings/config.log
/bindings/config.mk
/bindings/config.sh
/bindings/config.status
/bindings/config/gnu/compile
/bindings/config/gnu/config.guess
/bindings/config/gnu/config.sub
/bindings/config/gnu/depcomp
/bindings/config/gnu/install-sh
/bindings/config/gnu/ltmain.sh
/bindings/config/gnu/missing
/bindings/config/gnu/mkinstalldirs
/bindings/libpaw/libpaw-0.*
/bindings/libpaw/libpaw-1.*
/bindings/libpaw/libpaw-*.tar.gz
/bindings/parser/bindings-ready
/config/dist/*.lst
/config/gnu/abinit-info.sh
/config/gnu/compile
/config/gnu/config.guess
/config/gnu/config.sub
/config/gnu/depcomp
/config/gnu/install-sh
/config/gnu/ltmain.sh
/config/gnu/missing
/config/gnu/mkinstalldirs
/config/local/*
/config/wrappers/wrap-fc
/config/wrappers/wrap-mpicc
/config/wrappers/wrap-mpicxx
/config/wrappers/wrap-mpifc

# Documentation
mkdocs_plugins/dist
/site/
/doc/developers/statistics.json
/doc/abinit-doc-*.tar.gz
/doc/aclocal.m4
/doc/autom4te.cache
/doc/configure
/doc/config.log
/doc/config.status
/doc/build/build-howto.html
/doc/build/build-system-guide.pdf
/doc/build/config-examples
/doc/build/connectors.pdf
/doc/config/gnu/config.guess
/doc/config/gnu/config.sub
/doc/config/gnu/install-sh
/doc/config/gnu/missing
/doc/macroave/macroave.pdf
/doc/macroave/macroave.ps
/doc/macroave/macroave.toc
/doc/theory/fixd_theory.pdf
/doc/theory/geometry.pdf
/doc/theory/noncol.pdf
/doc/theory/set_WFs.pdf
/doc/theory/vanderbilt-anaddb-notes.pdf
/doc/theory/wavefunction.pdf
/doc/tutorial/theory_bse/equations.aux
/doc/tutorial/theory_bse/equations.log
/doc/tutorial/theory_bse/equations.out
/doc/tutorial/theory_bse/equations.pdf
/doc/tutorial/theory_mbt/equations.aux
/doc/tutorial/theory_mbt/equations.log
/doc/tutorial/theory_mbt/equations.out
/doc/tutorial/theory_mbt/equations.pdf
/doc/users/AbinitBandStructureMaker_manual.pdf
/doc/users/aimhelp.pdf
/doc/users/conducti_manual.pdf
/doc/users/conductivity_paw_manu.pdf
/doc/users/elphon_manual.pdf
/doc/users/linear_optics_paw.pdf
/doc/users/xtalinput.pdf
/doc/versioning/bzr-intro-p1.html
/doc/versioning/bzr-intro-p2.html
/doc/versioning/bzr-intro-p3.html
/doc/versioning/bzr-quickref.aux
/doc/versioning/bzr-quickref.log
/doc/versioning/bzr-quickref.pdf
/doc/versioning/vcs-comparison.html
/doc/*/*.out
/doc/*/*.aux
/doc/*/*.dvi
/doc/*/*.log
/doc/*/*.toc
/doc/*/*/*~
/doc/*/*.el

# fallbacks
/fallbacks/aclocal.m4
/fallbacks/autom4te.cache
/fallbacks/configure
/fallbacks/config.log
/fallbacks/config.mk
/fallbacks/config.status
/fallbacks/exports
/fallbacks/sources
/fallbacks/stamps
/fallbacks/config/gnu/compile
/fallbacks/config/gnu/config.guess
/fallbacks/config/gnu/config.sub
/fallbacks/config/gnu/depcomp
/fallbacks/config/gnu/install-sh
/fallbacks/config/gnu/ltmain.sh
/fallbacks/config/gnu/missing
/fallbacks/config/gnu/mkinstalldirs
/scripts/post_processing/.AbinitBandStructureMaker_feedback
/scripts/post_processing/.AbinitBandStructureMaker_setup
/scripts/post_processing/appa/birch/benf
/scripts/post_processing/appa/birch/fit.dat
/scripts/post_processing/appa/birch/fit.res
/shared/common/src/02_clib/.deps
/shared/common/src/14_hidewrite/m_build_info.F90
/shared/common/src/14_hidewrite/m_cppopts_dumper.F90
/shared/common/src/14_hidewrite/m_optim_dumper.F90
/shared/common/src/18_timing/.deps
/src/.abilint
/src/*/*~
/src/abilint.log
/src/abirules.log
/src/error_make_abiauty
/src/52_manage_cuda/.deps
/src/56_xc/.deps
/src/98_main/abinit
/src/98_main/aim
/src/98_main/anaddb
/src/98_main/band2eps
/src/98_main/abitk
/src/98_main/conducti
/src/98_main/cut3d
/src/98_main/fftprof
/src/98_main/ioprof
/src/98_main/lapackprof
/src/98_main/macroave
/src/98_main/mrgddb
/src/98_main/mrgdv
/src/98_main/mrggkk
/src/98_main/mrgscr
/src/98_main/multibinit
src/98_main/tdep
src/98_main/dummy_tests
/src/98_main/optic
src/98_main/tdep
/src/98_main/ujdet
/src/98_main/fold2Bloch
/src/98_main/vdw_kernelgen
/tests/ListOfTests.html
/tests/ListOfTests.txt
/tests/Test_suite
/tests/*/*/*/*~
/tests/*/*/*~
/tests/Tmp
/tests/test_suite.cpkl
/tests/test_suite.cpkl.lock
/tests/aclocal.m4
/tests/autom4te.cache
/tests/config.log
/tests/config.sh
/tests/config.status
/tests/configure
/tests/nightly-stamp
/tests/test1.end
/tests/test2.end
/tests/test3.end
/tests/test4.end
/tests/test5.end
/tests/Nightly/.deps
/tests/Nightly/timeout
/tests/config/gnu/compile
/tests/config/gnu/config.guess
/tests/config/gnu/config.sub
/tests/config/gnu/depcomp
/tests/config/gnu/install-sh
/tests/config/gnu/missing
/tests/gwdp/Refs/twan_03o_DS7_w90.wout
/tests/mpiio/cluster1
/tests/mpiio/cluster2
/tests/mpiio/cluster4
/tests/paral/cluster[124]
/tests/paral/cluster10
/tests/tutoplugs/Refs/tw90_4o_DS2_w90.wout
/tests/tutoplugs/Refs/tw90_3o_DS2_w90.wout
/tests/tutoplugs/Refs/tw90_2o_DS2_w90.wout
/tests/tutoplugs/Refs/tw90_1o_DS2_w90.wout
/tests/tutoplugs/Refs/tw90_4o_DS3_w90.wout
/tests/tutorial/Refs/tpaw1_addons/tmp.file
/tests/tutorial/Refs/tpaw2_PAW_datasets/tmp.file
/tests/tutorial/Refs/tw90_2o_DS2_w90.wout
/tests/tutorial/Refs/tw90_3o_DS2_w90.wout
/tests/tutorial/Refs/tw90_1o_DS2_w90.wout
/tests/tutorial/Refs/tw90_4o_DS3_w90.wout
/tests/tutorespfn/Input/trf2_6.in_displ
/tests/wannier90/Refs/t01o_w90.wout
/tests/wannier90/Refs/t02o_w90.wout
/tests/wannier90/Refs/t03o_DS7_w90.wout
tests/tests-install.env
tests/tests.env
tests/Timeout/timeout
special/special.env
special.env
doc/input_variables/YML_vars_test
scripts/*/*/build
scripts/*/*/dist
/tests/built-in/Input/*_o_*
/tests/built-in/Input/*out*
/tests/built-in/Input/*STATUS*
/tests/built-in/Input/*prc
src/tags
build2-debug-s
.prev_run.pickle
_project*.pickle
buildbot.ac
tests/Analysis*
tests/report.log
tests/special.py
tests/summary.log
tests/testbot.cfg
tests/testbot_summary.json
tests/testbot_summary.shelve
!.gitkeep
src/*/*dSYM/
src/*/*log
src/*/test_*
!tests_*F90
abichecks/special.py
abienv.txt
makefile.sed
tests/testcfg.py
CheckFB.py
tests/built-in/Input/abinit
tests/built-in/Input/fort.98
tests/built-in/Input/testin_wannier90o_EBANDS.agr
doc/input-web/*~
mac-1P0-225.ac
doc/topics/ConstrainedDFT.md
