.DS_Store
.deps
.directory
.tox
.*.sw*
__pycache__
Makefile.am
Makefile.in
Makefile
TAGS
install-symlinks.sh*
package-ready
tags
tmp
auto-*.m4
tmp-*
tmp_*
ui_*.py
*-stamp
*.la
*.lo
*.mod
*.orig
*.rej
*.tmp
/aclocal.m4
/autom4te.cache
/configure
/fallbacks.dump
/fallbacks.dump.in
/config.log
/config.mk
/config.pc
/config.sh
/config.status
/stamp-h1
/abinit-fallbacks-*.tar.gz
/confstat.*
/config/gnu/compile
/config/gnu/config.guess
/config/gnu/config.sub
/config/gnu/depcomp
/config/gnu/install-sh
/config/gnu/ltmain.sh
/config/gnu/missing
/config/gnu/mkinstalldirs
/config/siesta/libxc.mk
/config/siesta/libpsml.mk
/config/siesta/libpsml.mk.in
/config/siesta/xmlf90.mk
/config/siesta/xmlf90.mk.in
/src/abinit-fallbacks-config
/src/abinit-fallbacks-config.in
/src/install-symlinks.sh
/src/install-symlinks.sh.in
/exports
/sources
/stamps
