#title 	    {	font-family	    : Verdana,Arial,Courier	  ;
				font-style	    : regular				  ;
				font-weight		: bold	 				  ;
				font-size	    : 20px	 				  ;
				color			: #000000				  ;
				text-decoration : none					  ;
				text-transform  : none	 				  ;
			}
#definition{	font-family	    : Arial,Courier,Verdana	  ;
				font-style	    : regular;
				font-weight		: regular;
				font-size	    : 14px	 				  ;
				color			: #000000				  ;
				text-decoration : none					  ;
				text-transform  : none	 				  ;
			}
#category{	font-family	    : Arial,Courier,Verdana	  ;
				font-style	    : regular;
				font-weight		: regular;
				font-size	    : 14px	 				  ;
				color			: #000000				  ;
				text-decoration : none					  ;
				text-transform  : none	 				  ;
			}
#vartype{	font-family	    : Arial,Courier,Verdana	  ;
				font-style	    : regular;
				font-weight	    : regular;
				font-size	    : 14px	;
				color		    : #000000				  ;
				text-decoration : none					  ;
				text-transform  : none	 				  ;
			}
#text      {	font-family	    : Verdana,Arial,Courier	  ;
				font-style	    : regular;
				font-weight		: regular				  ;
				font-size	    : 12px	 				  ;
				color			: #000000				  ;
				text-decoration : none					  ;
				text-transform  : none	 				  ;
			}

#default    {	font-family	    : Verdana,Arial,Courier	  ;
				font-style	    : italic;
				font-weight	    : regular				  ;
				font-size	    : 14px	 				  ;
				color			: #000000				  ;
				text-decoration : none					  ;
				text-transform  : none	 				  ;
			}

